/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------
   PLACEHOLDER
-------------------*/
div {
    border: 2px dashed black ;
}
/*-------------------
   BODY
-------------------*/
.container {
    max-width: 1000px;
    margin: 0 auto;
}

/*-------------------
   HEADER
-------------------*/
nav {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    padding: 8px 0;
}
.navigation {
    background-color: gold;
}
.logo {
    text-align: left;
    width: 25%;
}
.link {
    text-align: center;
    width: 50%;
}
.login {
    text-align: right;
    width: 25%;
}
header section {
    background-color: blue;
    display: flex;
}
.headdiv {
    background-color: fuchsia;
    min-height: 250px;
    margin: 20px 40px;
}